<h1>Formulario de Contacto</h1>
<br>

<div class="row">
    <div class="col-6">
    <form #formContacto="ngForm" (ngSubmit)="onSubmit();formContacto.reset()">
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Nombre y Apellido</label>
                    <input [ngClass]="{'input-missing' : nombrecompleto.touched && !nombrecompleto.valid}" type="text" class="form-control" name="nombrecompleto" #nombrecompleto="ngModel" [(ngModel)]="contactonuevo.nombrecompleto" required placeholder="Nombre y Apellido">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Email</label>
                    <input [ngClass]="{'input-missing' : email.touched && !email.valid}" type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="contactonuevo.email" required pattern="[a-z]+[a-z0-9._]+@[a-z]+\.[a-z]+" placeholder="Email">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Telefono de Contacto</label>
                    <input [ngClass]="{'input-missing' : telefono.touched && !telefono.valid}" type="number" class="form-control" name="telefono" #telefono="ngModel" [(ngModel)]="contactonuevo.telefono" required placeholder="Telefono de Contacto">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Mensaje</label>
                    <textarea [ngClass]="{'input-missing' : mensaje.touched && !mensaje.valid}" class="form-control" name="mensaje" #mensaje="ngModel" [(ngModel)]="contactonuevo.mensaje" placeholder="Deja tu mensaje" rows="3"></textarea>
                </div>

                <button type="submit" class="btn btn-danger w-100" [disabled]="!formContacto.form.valid">Enviar</button>
            </div>
        </div>
    </form>
  </div>
</div>


<br>