<h1>Redes Sociales</h1>


<div class="footer-social">
   
    <a target="_blank" href="https://www.instagram.com/iessantafe/?hl=es-la"><i
                class="fa fa-instagram"></i></a>
    <a target="_blank" href="https://www.facebook.com/iessantafe/"><i class="fa fa-facebook"></i></a>
    <a target="_blank" href="https://www.youtube.com/channel/UCs35_YL-H0ICFobTxUL7cZQ"><i
                class="fa fa-youtube-play"></i></a>
    <a target="_blank" href="https://twitter.com/iessantafe"><i class="fa fa-twitter"></i></a>
    <a target="_blank" href="https://vimeo.com/user26372890"><i class="fa fa-vimeo"></i></a>
    <a target="_blank" href="https://www.linkedin.com/company/ies-santa-fe"><i
                class="fa fa-linkedin"></i></a>
</div>

<div class="contenedor2_dominio"><i class="fa fa-facebook-square"></i><a href="https://www.facebook.com/IES-Week-102951207750737/" title="Fanpage de IES Week"> Fanpage de IES Week</a></div>
