<div class="ml-2">
    <h3>Cronograma</h3>
</div>
<div class="card-columns ">

    <div *ngFor="let dia of cronograma" class="card text-white bg-danger ml-2 mr-2 mt-2 mb-2 animated fadeIn">
        <img class="card-img-top" src="{{ dia.foto }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{dia.evento}}</h5>
            <p class="card-text">
                Fecha: {{ dia.fecha }} <br> Lugar: {{ dia.lugar }}
            </p>
        </div>
    </div>

</div>
<hr>