<div class="container ml-auto mr-auto mt-5 mb-5">
    <h3 class="mt-5 mb-3">CRONOGRAMA</h3>

    <div class="timeline">
        <div class="containert left">
            <div class="content ">
                <h2>Lunes 4/11</h2>
                <h5>IES</h5>
                <ul>
                    <li><b>09:00 a 12:00</b> - Taller de Diseño Gráfico.</li>
                    <li><b>17:00 a 19:00</b> - Presentación libro "Un futuro posible" y charla Lic. Angel Letteriello.</li>
                    <li><b>19.30 a 21:30</b> - ADE: "Conferencia plan de negocios" de Rocio Peña.</li>
                </ul>
            </div>
        </div>
        <div class="containert right">
            <div class="content">
                <h2>Martes 5/11</h2>
                <h5>IES</h5>
                <ul>
                    <li><b>09:00 a 13:00</b> - Taller de Diseño Gráfico.</li>
                    <li><b>17:30 a 19:15</b> - DPI: "Asesoramiento de imagen y Dress Codes" por Brenda Mignola</li>
                    <li><b>19.30 a 21:00</b> - DPI: Charla "Locas por el orden" por Nadia Novillo.</li>
                </ul>
            </div>
        </div>
        <div class="containert left">
            <div class="content">
                <h2>Miércoles 6/11</h2>
                <h5>IES</h5>
                <ul>
                    <li><b>17:00 a 19:00</b> - RRPP: Charla "Experiencias de protocolo en Cumbre del Mercosur".</li>
                    <li><b>19.30 a 21:30</b> - ADE: Charla/debate "Emprendedores" por ex-alumnos IES.</li>
                </ul>

                <h5>UPCN</h5>
                <ul>
                    <li><b>15:00 a 16:45</b> - Charla Diseño Gráfico por Gustavo Pagliólico.</li>
                    <li><b>17:00 a 18:45</b> - Presentación del proyecto transmedia "Latido Urbano. El hip-hop como expresión urbana en Santa Fe".</li>
                    <li><b>19.00 a 21:00</b> - Presentación/muestra Diseño Gráfico por alumnos de la carrera DGV.</li>
                </ul>
            </div>
        </div>
        <div class="containert right">
            <div class="content">
                <h2>Jueves 7/11</h2>
                <h5>IES</h5>
                <ul>
                    <li><b>17:30 a 19:00</b> - Charla Diseño Gráfico por Matías Tomati.</li>
                </ul>

                <h5>UPCN</h5>
                <ul>
                    <li><b>15:00 a 16:45</b> - Charla "Prográmate para emprender, elegí tu propia aventura" por Pedro Prez.</li>
                    <li><b>17:00 a 18:45</b> - Charla "Periodismo en medios digitales" Panel de invitados especiales.</li>
                    <li><b>19.00 a 21:00</b> - Premios IES al Periodismo 2019.</li>
                </ul>
            </div>
        </div>
        <div class="containert left">
            <div class="content">
                <h2>Viernes 8/11</h2>
                <h5>UPCN</h5>
                <ul>
                    <li><b>18:30 a 21:30</b> - Desfile Diseño de Indumentaria.</li>
                </ul>
            </div>
        </div>
    </div>

<hr>