<div class="ml-2">
    <h3>Cronograma</h3>
</div>

<div class="timeline">
    <div class="container left">
        <div class="content">
            <h2>Lunes</h2>
            <h5>IES</h5>
            <ul>
                <li><b>09:00 a 12:00</b> - Taller de Diseño Gráfico.</li>
                <li><b>17:00 a 19:00</b> - Presentación libro "Un futuro posible" y charla Lic. Angel Letteriello.</li>
                <li><b>19.30 a 21:30</b> - ADE: "Conferencia plan de negocios" de Rocio Peña.</li>
            </ul>
        </div>
    </div>
    <div class="container right">
        <div class="content">
            <h2>Martes</h2>
            <h5>IES</h5>
            <ul>
                <li><b>09:00 a 13:00</b> - Taller de Diseño Gráfico.</li>
                <li><b>17:30 a 19:15</b> - DPI: "Asesoramiento de imagen y Dress Codes" por Brenda Mignola</li>
                <li><b>19.30 a 21:00</b> - DPI: Charla "Locas por el orden" por Nadia Novillo.</li>
            </ul>
        </div>
    </div>
    <div class="container left">
        <div class="content">
            <h2>Miercoles</h2>
            <h5>IES</h5>
            <ul>
                <li><b>17:00 a 19:00</b> - RRPP: Charla "Experiencias de protocolo en Cumbre del Mercosur".</li>
                <li><b>19.30 a 21:30</b> - ADE: Charla/debate "Emprendedores" por ex-alumnos IES.</li>
            </ul>

            <h5>UPCN</h5>
            <ul>
                <li><b>15:00 a 16:45</b> - Charla Diseño Gráfico por Gustavo Pagliólico.</li>
                <li><b>17:00 a 18:45</b> - Presentación del proyecto transmedia "Latido Urbano. El hip-hop como expresión urbana en Santa Fe".</li>
                <li><b>19.00 a 21:00</b> - Presentación/muestra Diseño Gráfico por alumnos de la carrera DGV.</li>
            </ul>
        </div>
    </div>
    <div class="container right">
        <div class="content">
            <h2>Jueves</h2>
            <h5>IES</h5>
            <ul>
                <li><b>17:30 a 19:00</b> - Charla Diseño Gráfico por Matías Tomati.</li>
            </ul>

            <h5>UPCN</h5>
            <ul>
                <li><b>15:00 a 16:45</b> - Charla "Prográmate para emprender, elegí tu propia aventura" por Pedro Prez.</li>
                <li><b>17:00 a 18:45</b> - Charla "Periodismo en medios digitales" Panel de invitados especiales.</li>
                <li><b>19.00 a 21:00</b> - Premios IES al Periodismo 2019.</li>
            </ul>
        </div>
    </div>
    <div class="container left">
        <div class="content">
            <h2>Viernes</h2>
            <h5>UPCN</h5>
            <ul>
                <li><b>18:30 a 21:30</b> - Desfile Diseño de Indumentaria.</li>
            </ul>
        </div>
    </div>
</div>

<!--
<div class="card-columns ">

    <div *ngFor="let dia of cronograma" class="card text-white bg-danger ml-2 mr-2 mt-2 mb-2 animated fadeIn">
        <img class="card-img-top" src="{{ dia.foto }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{dia.evento}}</h5>
            <p class="card-text">
                Fecha: {{ dia.fecha }} <br> Lugar: {{ dia.lugar }}
            </p>
        </div>
    </div>

</div>
-->
<hr>