<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-danger">
    <a class="navbar-brand" href="#">IesWeek</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" fragment="acercade" [routerLinkActive]="['active']">Acerca de </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" fragment="cronograma" [routerLinkActive]="['active']">Cronograma</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" fragment="disertantes" [routerLinkActive]="['active']">Disertantes </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" fragment="galeria" [routerLinkActive]="['active']">Galeria </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" fragment="contacto" [routerLinkActive]="['active']">Contacto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" fragment="redes" [routerLinkActive]="['active']">Redes Sociales </a>
            </li>
        </ul>
    </div>
</nav>